@font-face {
    font-family: 'Triplicate B';
    src: url('TriplicateBItalic.woff2') format('woff2'),
        url('TriplicateBItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Triplicate A';
    src: url('TriplicateABold.woff2') format('woff2'),
        url('TriplicateABold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Triplicate B';
    src: url('TriplicateBRegular.woff2') format('woff2'),
        url('TriplicateBRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

